<!--导航条-->
<app-navbar>
</app-navbar>
<!--/导航条-->
<!--主要内容容器-->
<div class="container">
  <div class="row">
    <!--&lt;!&ndash;左侧&ndash;&gt;-->
    <div class="col-md-3">
      <!--&lt;!&ndash;搜索区域&ndash;&gt;-->
      <app-search>
      </app-search>
      <!--&lt;!&ndash;/搜索区域&ndash;&gt;-->
    </div>
    <!--&lt;!&ndash;/左侧&ndash;&gt;-->
    <!--&lt;!&ndash;右侧&ndash;&gt;-->
    <div class="col-md-9">
      <div class="row">
        <!--&lt;!&ndash;轮播图&ndash;&gt;-->
        <app-carousel>
        </app-carousel>
        <!--&lt;!&ndash;/轮播图&ndash;&gt;-->
      </div>
      <div class="row">
        <!--&lt;!&ndash;商品信息&ndash;&gt;-->
        <app-product>
        </app-product>
        <!--&lt;!&ndash;/商品信息&ndash;&gt;-->
      </div>
    </div>
    <!--&lt;!&ndash;/右侧&ndash;&gt;-->
  </div>
</div>
<!--&lt;!&ndash;/主要内容容器&ndash;&gt;-->
<!--&lt;!&ndash;底部信息&ndash;&gt;-->
<app-foot>
</app-foot>
<!--&lt;!&ndash;/底部信息&ndash;&gt;-->
